@inherits LayoutComponentBase

<link href="css/chat.css" rel="stylesheet" />

<div class="page">
        <NavMenu />

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
